.header {
            overflow: hidden;
            background-color: #3b3755;
        
        }
        .header img{
            float: left;
            padding: 20px 20px
        }
        .header input[type=text] {
            float: left;
            padding: 10px ;
            border: 3px black;
            margin-top: 20px;
            margin-left: 100px;
            font-size: 15px;
            width: 40%;
        }

        .commu{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color:antiquewhite;
            float: right;
            display: block;
            color: black;
            text-align: center;
            padding: 2px 20px;
            text-decoration: none;
            font-family: "verdana";
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: "verdana";
        }

        .central {
            background-color: rgb(10, 10, 36);
        }

        .central img{
            padding: 50px 50px;
            width: "100%";
        }

        .centered{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }