<script>
    
</script>

<main>
	<div class="header">
        <a href="#default"><img src="img/logo.png" alt="Logo">
        </a>
        <input type="text" placeholder="Cari Kebutuhanmu...">
        <a class="commu" href="#default">Bantuan Pelanggan</a>
    </div>

    <div class="w3-bar w3-gray">
        <a href="#" class="w3-bar-item w3-button">Fresh</a>
        <a href="#" class="w3-bar-item w3-button">Makanan</a>
        <a href="#" class="w3-bar-item w3-button">Minuman</a>
        <a href="#" class="w3-bar-item w3-button w3-right">Keranjang</a>
    </div>

    <div class="central" style="width:100%">
        <img class="mySlides" alt="Banner" src="img/banner.png" style="width:100%">
        <img class="mySlides" src="img/banner_2.png" style="width:100%">
        <img class="mySlides" src="img/banner_3.png" style="width:100%">\
      </div>

    <div class="w3-container w3-gray">
        <p>Copyright: FreshMart 2021</p>
    </div>
</main>

<style>
	
</style>
